*{
    margin : 0;
    padding: 0;
   box-sizing: border-box;
}


/*body{
   background-color: hsl(0, 16%, 94%);
    color:white;

}*/
div .button{
    height: 20px;
    width: 20px;
    color: white;
    background-color: #000000;
}
.main{
    width: 100vh;
    height: 100vh;
    /*background-image: url(images/aish.png);*/
    background-size: contain;
    background-repeat: no-repeat;
   background-position: right;
   position: relative;
   margin-left: 100%;
  
}
.navbar{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 15px 15px;
    align-items: center;
    justify-content: flex-end;
    background: black;
    position: relative;
}
.navbar ul{
    margin-top: -5%;
}

.navbar ul li{
    list-style:none;
    display:inline-block;
    padding: 10px 10px 10px 10px; 
    margin-left: auto;
    margin-top: 10%;
    border-radius: 5px;
    align-items: center;
    font-size:large;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(154, 16, 3);
    margin-top: auto;
    justify-content: flex-end;
}

ul li a:hover {
    color: beige;
}
.info{
    margin: left 50px;
    margin-top: 6%;
}
.info h1{
    font-size: 65px;
    color:brown;

}
.info h3{
    font-size: medium;
    letter-spacing: 1px;
    line: height 24px;;
}
.info a {
    text-decoration: none;
    color:beige;
    background: black;
    margin: 26px 0;
    padding: 10px 10px;
    border-radius: 10px;
    display: inline-block;
    transition: 4 ease;
}
.info a:hover{
    background: brown;
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position:absolute;
    height: 140%;
    left:40%;
    transform:translate(-50%);
    bottom:0;
   
}
image:hover.girl{
    left:55%;

}